<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Add Member</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet" type="text/css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
</head>
<body>
<div class="container">
  <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
      <div class="card-body">
        <h4 class="card-title mb-3 text-light">Add Member</h4>
        <form th:action="@{/sendFriendRequest}" th:object="${friend}" method="POST">
          <input type="text" th:field="*{secondMemberId}" placeholder="Enter user's ID" class="form-control column-4 mb-4 text-light" />
          <input type="hidden" th:field="*{firstMemberId}" />
          <a th:href="@{/homepage}" class="btn btn-primary">Back</a>
          <button class="btn btn-primary" type="submit">Send Request</button>
        </form>
      </div>
    </div>
  </div>
  <!--    <hr/>-->
  <!--    <div>-->
  <!--        <a th:href="@{/admins}" class="btn btn-primary">Back</a>-->
  <!--    </div>-->
  <!--    <a th:href="@{/admin}">Back</a>-->
</div>
</body>
</html>