<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
</head>
<body>
<nav class="navbar sticky-top p-2 mb-2 nav-home">
    <div class="container-fluid" th:object="${member}">
        <a class="navbar-brand text-light" th:text="*{firstName} + ' ' + *{lastName}">User Name</a>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="https://mdbootstrap.com/img/Photos/Avatars/img (32).jpg" class="rounded-circle" height="30" alt="" loading="lazy" /></a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a th:href="@{/profile}" class="dropdown-item" href="#">Profile</a></li>
                <li><a th:href="@{/showMemberUpdateForm}" class="dropdown-item" href="#">Settings</a></li>
                <li th:if="${member.memberRole.displayValue} == 'Admin'">
                    <a th:href="@{/admins}" class="dropdown-item" href="#">Admin Panel</a>
                </li>

                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card card-home px-1 py-4">
                    <div class="card-body d-grid gap-3">
                        <h4 class="card-title mb-3 text-light">Progress</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 34%" aria-valuenow="10" aria-valuemin="10" aria-valuemax="100"> Day 1</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 57%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> Day 2</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> Day 3</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 67%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> Day 4</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 85%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> Day 5 </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <h3>Progress</h3>-->
<!--            <div class="progress">-->
<!--                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 10%" aria-valuenow="10" aria-valuemin="10" aria-valuemax="100"> Day 1</div>-->
<!--            </div> <hr>-->
<!--            <div class="progress">-->
<!--                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> Day 2</div>-->
<!--            </div> <hr>-->
<!--            <div class="progress">-->
<!--                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> Day 3</div>-->
<!--            </div> <hr>-->
<!--            <div class="progress">-->
<!--                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> Day 4</div>-->
<!--            </div> <hr>-->
<!--            <div class="progress">-->
<!--                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> Day 5 </div>-->
<!--            </div>-->
        </div>
        <div class="col-sm-7">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card card-home px-1 py-4">
                    <div class="card-body d-grid gap-3">
                        <h4 class="card-title mb-3 text-light">Feed</h4>
                        <div class="card-home">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (29).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />
                                    </div>
                                    <div class="flex-grow-1 ms-3 text-light">John Smith - 11/8/2022</div>
                                </div>
                                <p class="card-text text-light">Made progress on my "Bench Press Max" goal!</p>
                                <p class="card-text text-light">130 lbs / 150 lbs</p>
                            </div>
                        </div>
                        <div class="card-home" >
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (28).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />
                                    </div>
                                    <div class="flex-grow-1 ms-3 text-light">Jane Smith  - 11/7/2022</div>
                                </div>
                                <p class="card-text text-light">Made progress on my "Leg Press Max" goal!</p>
                                <p class="card-text text-light">230 lbs / 250 lbs</p>
                            </div>
                        </div>
                        <div class="card-home">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />
                                    </div>
                                    <div class="flex-grow-1 ms-3 text-light">Michael Fox - 11/5/2022</div>
                                </div>
                                <p class="card-text text-light">Made progress on my "Dead Lift Max" goal!</p>
                                <p class="card-text text-light">455 lbs / 600 lbs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card card-home px-1 py-4">
                    <div class="card-body d-grid gap-3">
                        <h4 class="card-title mb-3 text-light">Friends</h4>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (29).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />
                            </div>
                            <div class="flex-grow-1 ms-3 text-light">John Smith</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                            </svg>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (28).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />
                            </div>
                            <div class="flex-grow-1 ms-3  text-light">Jane Smith</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                            </svg>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />
                            </div>
                            <div class="flex-grow-1 ms-3 text-light">Michael Fox</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
<!--            <h3 class="text-dark">Friends</h3>-->
<!--            <li class="dropdown-item rounded my-2 px-0" type="button">-->
<!--                <div class="d-flex align-items-center mx-2">-->
<!--                    <div class="position-relative">-->
<!--                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (28).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />-->
<!--                    </div>-->
<!--                    <p class="m-0 text-primary">Friend 1</p>-->
<!--                    <a class="btn btn-danger btn-sm">Delete</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="dropdown-item rounded my-2 px-0" type="button">-->
<!--                <div class="d-flex align-items-center mx-2">-->
<!--                    <div class="position-relative">-->
<!--                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (29).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />-->
<!--                    </div>-->
<!--                    <p class="m-0 text-primary">Friend 2</p>-->
<!--                    <a class="btn btn-danger btn-sm">Delete</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="dropdown-item rounded my-2 px-0" type="button">-->
<!--                <div class="d-flex align-items-center mx-2">-->
<!--                    <div class="position-relative">-->
<!--                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />-->
<!--                    </div>-->
<!--                    <p class="m-0 text-primary">Friend 3</p>-->
<!--                    <a class="btn btn-danger btn-sm">Delete</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="dropdown-item rounded my-2 px-0" type="button">-->
<!--                <div class="d-flex align-items-center mx-2">-->
<!--                    <div class="position-relative">-->
<!--                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />-->
<!--                    </div>-->
<!--                    <p class="m-0 text-primary">Friend 4</p>-->
<!--                    <a class="btn btn-danger btn-sm">Delete</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="dropdown-item rounded my-2 px-0" type="button">-->
<!--                <div class="d-flex align-items-center mx-2">-->
<!--                    <div class="position-relative">-->
<!--                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (33).jpg" class="rounded-circle" height="30" alt="" loading="lazy" />-->
<!--                    </div>-->
<!--                    <p class="m-0 text-primary">Friend 5</p>-->
<!--                    <a class="btn btn-danger btn-sm">Delete</a>-->
<!--                </div>-->
<!--            </li>-->
        </div>
    </div>
</div>



<!--<h1>Friends List</h1>
        <hr>
    <a href="#" class="btn btn-primary mb-2">Add Friend</a>
    <table class="table table-bordered table-striped" id="friends-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>>
    -->


</body>
</html>