<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link href="login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <form class="form-signin" method="POST" action="/login">
        <p>
            <label for="email-field" class="sr-only">Email</label>
            <input type="text" id="email-field" name="username" class="form-control" placeholder="Enter your email" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <!--<a link href ="" class="pass-reset"> Forgot password? </a>-->
        <hr>
        <a th:href="@{/registerUser}" class="btn btn-success mb-2" type="submit">Register</a>
    </form>
</div>
<div class="title">
    <h1> Group Fitness</h1>
</div>
</body></html>