<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Member Profile</title>-->
<!--  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>-->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">-->

<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container" th:object="${member}">-->
<!--  <h2>Member Profile</h2>-->
<!--  <hr/>-->
<!--  <table class="table table-bordered table-striped table-responsive" id="member-table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Email</th>-->
<!--      <th>Is Admin</th>-->
<!--      <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--      <td th:text="*{firstName} + ' ' + *{lastName}"></td>-->
<!--      <td th:text="*{email}"></td>-->
<!--      <td th:text="*{memberRole.displayValue}"></td>-->
<!--      <td>-->
<!--        <a th:href="@{/showMemberUpdateForm}" class="btn btn-secondary">Edit</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <hr/>-->
<!--  <h3>Goals</h3>-->
<!--  <hr/>-->
<!--  <a th:href="@{/addGoalForm}" class="btn btn-primary">Add Goal</a>-->
<!--  <table class="table table-bordered table-striped table-responsive" id="goal-table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Goal Name</th>-->
<!--      <th>Goal Type</th>-->
<!--      <th>Target</th>-->
<!--      <th>Current</th>-->
<!--      <th>Goal Date</th>-->
<!--      <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="goal: ${goals}">-->
<!--      <td th:text="${goal.name}"></td>-->
<!--      <td th:text="${goal.goalType.displayValue}">-->
<!--      <td th:text="${goal.target} + ' ' + ${goal.goalType.unit}"></td>-->
<!--      <td th:text="${goal.progress} + ' ' + ${goal.goalType.unit}"></td>-->
<!--      <td th:text="${goal.deadline}"></td>-->
<!--      <td>-->
<!--        <a th:href="@{/addProgress(goalId=${goal.id})}" class="btn btn-primary">Add Progress</a>-->
<!--        <a th:href="@{/deleteGoal(goalId=${goal.id})}" class="btn btn-danger">Delete</a>-->
<!--        <a th:href="@{/showGoalUpdateForm(goalId=${goal.id})}" class="btn btn-secondary">Edit Goal</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <a th:href="@{/homepage}" class="btn btn-primary">Back</a>-->
<!--</div>-->
<!--<script>-->
<!--        $(document).ready(function() {-->
<!--          $("#goal-table").DataTable ({-->
<!--            'aoColumnDefs': [{-->
<!--                'bSortable': false,-->
<!--                'aTargets': [-1]-->
<!--            }]-->
<!--          });-->
<!--        })-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Member Profile</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet" type="text/css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
</head>
<body>
<div class="container" th:object="${member}">
  <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4 card-table">
      <div class="card-body">
        <h4 class="card-title mb-3 text-light">Member Profile</h4>
        <table class="table table-borderless table-responsive bdr" id="member-table">
          <thead>
          <tr>
            <th class="text-light">Name</th>
            <th class="text-light">Email</th>
            <th class="text-light">Is Admin</th>
            <th class="text-light">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td th:text="*{firstName} + ' ' + *{lastName}" class="text-light"></td>
            <td th:text="*{email}" class="text-light"></td>
            <td th:text="*{memberRole}" class="text-light"></td>
            <td>
              <a th:href="@{/showMemberUpdateForm}" class="btn btn-secondary">Edit</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4 card-table">
      <div class="card-body">
        <h4 class="card-title mb-3 text-light">Goals</h4>
        <table class="table table-borderless table-responsive bdr" id="goal-table">
          <thead>
          <tr>
            <th class="text-light">Goal Name</th>
            <th class="text-light">Goal Type</th>
            <th class="text-light">Target</th>
            <th class="text-light">Current</th>
            <th class="text-light">Goal Date</th>
            <th class="text-light">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="goal: ${goals}"  class="text-light">
            <td th:text="${goal.name}"  class="text-light"></td>
            <td th:text="${goal.goalType.displayValue}"  class="text-light">
            <td th:text="${goal.target} + ' ' + ${goal.goalType.unit}"  class="text-light"></td>
            <td th:text="${goal.progress} + ' ' + ${goal.goalType.unit}" class="text-light"></td>
            <td th:text="${goal.deadline}"></td>
            <td>
              <a th:href="@{/addProgress(goalId=${goal.id})}" class="btn btn-primary text-light">Add Progress</a>
              <a th:href="@{/deleteGoal(goalId=${goal.id})}" class="btn btn-danger text-light">Delete</a>
              <a th:href="@{/showGoalUpdateForm(goalId=${goal.id})}" class="btn btn-secondary text-light">Edit Goal</a>
            </td>
          </tr>
          </tbody>
        </table>
        <a th:href="@{/homepage}" class="btn btn-primary text-light">Back</a>
        <a th:href="@{/addGoalForm}" class="btn btn-primary text-light">Add Goal</a>
      </div>
    </div>
  </div>
</div>
<!--<script>-->
<!--        $(document).ready(function() {-->
<!--          $("#goal-table").DataTable ({-->
<!--            'aoColumnDefs': [{-->
<!--                'bSortable': false,-->
<!--                'aTargets': [-1]-->
<!--            }]-->
<!--          });-->
<!--        })-->
<!--    </script>-->
</body>
</html>