<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Success</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="card px-1 py-4">
    <div class="card-body">
      <h4 class="card-title mb-3 text-light">You have signed up successfully!</h4>
      <!--      <a th:href="@{/login}" class="btn btn-primary ">Click here to Login</a>-->
      <h4><a th:href="@{/login}" class="btn btn-primary mb-2">Click here to Login</a></h4>
    </div>
  </div>
</div>
<!--<div class="container text-center">-->
<!--  <h3>You have signed up successfully!</h3>-->
<!--  <h4><a th:href="@{/login}" class="btn btn-primary mb-2">Click here to Login</a></h4>-->
<!--</div>-->

</body>
</html>